liron firuz 315794057

In [4]:
import numpy as np
import pandas as pd

solution to question 1:

In [5]:
url = 'https://raw.githubusercontent.com/owid/covid-19-data/master/public/data/vaccinations/vaccinations.csv'
Data = pd.read_csv(url)

In [6]:
Data.head()

,location,iso_code,date,total_vaccinations,people_vaccinated,people_fully_vaccinated,daily_vaccinations_raw,daily_vaccinations,total_vaccinations_per_hundred,people_vaccinated_per_hundred,people_fully_vaccinated_per_hundred,daily_vaccinations_per_million
0,Afghanistan,AFG,2021-02-22,0.0,0.0,NaN,NaN,NaN,0.0,0.0,NaN,NaN
1,Afghanistan,AFG,2021-02-23,NaN,NaN,NaN,NaN,1367.0,NaN,NaN,NaN,35.0
2,Afghanistan,AFG,2021-02-24,NaN,NaN,NaN,NaN,1367.0,NaN,NaN,NaN,35.0
3,Afghanistan,AFG,2021-02-25,NaN,NaN,NaN,NaN,1367.0,NaN,NaN,NaN,35.0
4,Afghanistan,AFG,2021-02-26,NaN,NaN,NaN,NaN,1367.0,NaN,NaN,NaN,35.0

solution to question 2:
I chose Latvia becuse it begins with "L"

In [95]:
L_locations = Data[Data['location'].str.contains('L')]
L_locations

,location,iso_code,date,total_vaccinations,people_vaccinated,people_fully_vaccinated,daily_vaccinations_raw,daily_vaccinations,total_vaccinations_per_hundred,people_vaccinated_per_hundred,people_fully_vaccinated_per_hundred,daily_vaccinations_per_million
4758,Laos,LAO,2021-03-17,40732.0,40732.0,NaN,NaN,NaN,0.56,0.56,NaN,NaN
4759,Latvia,LVA,2020-12-28,NaN,595.0,NaN,NaN,NaN,NaN,0.03,NaN,NaN
4760,Latvia,LVA,2020-12-29,NaN,1468.0,NaN,NaN,NaN,NaN,0.08,NaN,NaN
4761,Latvia,LVA,2020-12-30,NaN,2259.0,NaN,NaN,NaN,NaN,0.12,NaN,NaN
4762,Latvia,LVA,2021-01-04,NaN,2958.0,NaN,NaN,NaN,NaN,0.16,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
8241,Sri Lanka,LKA,2021-03-24,NaN,NaN,NaN,NaN,7176.0,NaN,NaN,NaN,335.0
8242,Sri Lanka,LKA,2021-03-25,NaN,NaN,NaN,NaN,7179.0,NaN,NaN,NaN,335.0
8243,Sri Lanka,LKA,2021-03-26,NaN,NaN,NaN,NaN,7211.0,NaN,NaN,NaN,337.0
8244,Sri Lanka,LKA,2021-03-27,884164.0,884164.0,NaN,NaN,7849.0,4.13,4.13,NaN,367.0
8245,Sri Lanka,LKA,2021-03-28,894053.0,894053.0,NaN,9889.0,9170.0,4.18,4.18,NaN,428.0

solution to question 3:
there are 87 rows in my file, I computed the answer in the following way:

In [17]:
Latvia = Data[Data['location'].str.contains('Latvia')]
Latvia['location'].count()

87

solution to question 4:
finding max value of vaccination in Latvia and then find the date whice has that value

In [49]:
max_vacc_Lat = Latvia.daily_vaccinations.max() 
max_vacc_Lat

3380.0

In [123]:
Latvia.loc[Latvia['date'] == max_vacc_Lat]

Empty DataFrame
Columns: [location, iso_code, date, total_vaccinations, people_vaccinated, people_fully_vaccinated, daily_vaccinations_raw, daily_vaccinations, total_vaccinations_per_hundred, people_vaccinated_per_hundred, people_fully_vaccinated_per_hundred, daily_vaccinations_per_million]
Index: []

solution to question 5:

In [52]:
Latvia.iloc[0:3,[0,2,6]]

     location        date  daily_vaccinations_raw
4759   Latvia  2020-12-28                     NaN
4760   Latvia  2020-12-29                     NaN
4761   Latvia  2020-12-30                     NaN

solution to question 6:

In [63]:
Latvia.daily_vaccinations.mean()

1487.3235294117646

solution to question 7:

In [99]:
Drop_Lat = Latvia.dropna(subset=['people_vaccinated_per_hundred'])
Drop_Lat

,location,iso_code,date,total_vaccinations,people_vaccinated,people_fully_vaccinated,daily_vaccinations_raw,daily_vaccinations,total_vaccinations_per_hundred,people_vaccinated_per_hundred,people_fully_vaccinated_per_hundred,daily_vaccinations_per_million
4759,Latvia,LVA,2020-12-28,NaN,595.0,NaN,NaN,NaN,NaN,0.03,NaN,NaN
4760,Latvia,LVA,2020-12-29,NaN,1468.0,NaN,NaN,NaN,NaN,0.08,NaN,NaN
4761,Latvia,LVA,2020-12-30,NaN,2259.0,NaN,NaN,NaN,NaN,0.12,NaN,NaN
4762,Latvia,LVA,2021-01-04,NaN,2958.0,NaN,NaN,NaN,NaN,0.16,NaN,NaN
4763,Latvia,LVA,2021-01-05,NaN,3847.0,NaN,NaN,NaN,NaN,0.20,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
4841,Latvia,LVA,2021-03-24,116914.0,96665.0,20249.0,6050.0,2195.0,6.20,5.12,1.07,1164.0
4842,Latvia,LVA,2021-03-25,122175.0,101254.0,20921.0,5261.0,2907.0,6.48,5.37,1.11,1541.0
4843,Latvia,LVA,2021-03-26,125898.0,104298.0,21600.0,3723.0,3339.0,6.67,5.53,1.15,1770.0
4844,Latvia,LVA,2021-03-27,126394.0,104480.0,21914.0,496.0,3380.0,6.70,5.54,1.16,1792.0
4845,Latvia,LVA,2021-03-28,NaN,104486.0,NaN,NaN,NaN,NaN,5.54,NaN,NaN

solution to question 8:
hermonic mean is 1.2716135337832166. I computed the answer in the following way:

In [106]:
sum_of_rows = Drop_Lat.people_vaccinated_per_hundred.sum()

counter=0
for i in Drop_Lat['people_vaccinated_per_hundred']:
    counter = counter +(1/i)

sum_of_rows/counter

1.2716135337832166

solution to question 9:
The mean is bigger.
looking at the column, we can see although vaccination is increasing doring time, the numnbers of the vaccination isnt in a consistant growth. so the value of the median couldnt be predict. it could have been bigger the the mean or smaller then him.

In [124]:
Latvia.daily_vaccinations.mean()

1487.3235294117646

In [125]:
Latvia.daily_vaccinations.median()

1159.5

In [134]:
Latvia

,location,iso_code,date,total_vaccinations,people_vaccinated,people_fully_vaccinated,daily_vaccinations_raw,daily_vaccinations,total_vaccinations_per_hundred,people_vaccinated_per_hundred,people_fully_vaccinated_per_hundred,daily_vaccinations_per_million
4759,Latvia,LVA,2020-12-28,NaN,595.0,NaN,NaN,NaN,NaN,0.03,NaN,NaN
4760,Latvia,LVA,2020-12-29,NaN,1468.0,NaN,NaN,NaN,NaN,0.08,NaN,NaN
4761,Latvia,LVA,2020-12-30,NaN,2259.0,NaN,NaN,NaN,NaN,0.12,NaN,NaN
4762,Latvia,LVA,2021-01-04,NaN,2958.0,NaN,NaN,NaN,NaN,0.16,NaN,NaN
4763,Latvia,LVA,2021-01-05,NaN,3847.0,NaN,NaN,NaN,NaN,0.20,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
4841,Latvia,LVA,2021-03-24,116914.0,96665.0,20249.0,6050.0,2195.0,6.20,5.12,1.07,1164.0
4842,Latvia,LVA,2021-03-25,122175.0,101254.0,20921.0,5261.0,2907.0,6.48,5.37,1.11,1541.0
4843,Latvia,LVA,2021-03-26,125898.0,104298.0,21600.0,3723.0,3339.0,6.67,5.53,1.15,1770.0
4844,Latvia,LVA,2021-03-27,126394.0,104480.0,21914.0,496.0,3380.0,6.70,5.54,1.16,1792.0
4845,Latvia,LVA,2021-03-28,NaN,104486.0,NaN,NaN,NaN,NaN,5.54,NaN,NaN